.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}

.play {
  display: none;
}

.train,
.play {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .play {
  display: block;
}

input:checked + .slider .train {
  display: none;
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > * {
  margin: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f2f9ff;
  /* background: linear-gradient(60deg, #4dadf7 0%, #ffe082 100%); */
  flex: 0 1 250px;
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #9e9dad;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card-container img {
  width: 100%;
  height: 166px;
  object-fit: cover;
}

.card {
  padding-top: 10px;
}

.menu-container {
  position: absolute;
  top: 0;
  left: -14em;
  background-color: #f2f9ff;
  height: 100%;
  margin: 0;
  transition: left 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
}

.show {
  left: 0em;
}

.hidden {
  display: none;
}

.menu-button {
  font-size: 16px;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-weight: 600;
  color: #ffaee9;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.menu-button:hover {
  box-shadow: inset 220px 0 0 0.09px #e7f4ff;
}

#start {
  align-self: center;
  padding: 10px 30px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: pink;
  border: none;
}

#start:hover {
  background-color: rgb(255, 89, 117);
}

.statisticsContainer {
  display: flex;
  flex: 1;
}

.menu-icon,
.close-icon {
  height: 40px;
}

.close-icon {
  transition: transform 0.7s ease-in-out;
}
.close-icon:hover {
  transform: rotate(360deg);
}

.menu-burger {
  cursor: pointer;
}

.active {
  background-color: #dbefff;
}

.rotate-image {
  width: 30px !important;
  height: 30px !important;
}

.disabled {
  background-color: black;
}

.disabled img {
  opacity: 0.5;
}
