@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  height: 100%;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > * {
  margin: 1.25rem;
}

.sidenav {
  height: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  flex: 0 1 15.625rem;
  margin: 1.25rem;
  padding: 0.625rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #8f8f8f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 1.4rem;
  opacity: 0.8;
  height: 15rem;
  transition: all 0.5s ease;
}

.card-container:hover {
  opacity: 1;
  color: #3ea9ff;
  background-color: #d3ebff;
}

.card-lower {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.is-flipped {
  transform: rotateY(-180deg);
}

.is-flipped-child {
  transform: rotateY(180deg);
}

.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
}

.card {
  display: flex;
  align-self: flex-start;
  padding-top: 1rem;
}

.disabled {
  opacity: 0.3;
}

.disabled:hover {
  opacity: 0.3 !important;
  color: #8f8f8f !important;
  background-color: white !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6.25rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #67bcff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f39fc3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f39fc3;
}

input:checked + .slider:before {
  transform: translateX(4rem);
}

.play {
  display: none;
}

.train,
.play {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 0.7rem;
  font-weight: 600;
}

input:checked + .slider .play {
  display: block;
}

input:checked + .slider .train {
  display: none;
}

.slider {
  border-radius: 2.125rem;
}

.slider:before {
  border-radius: 50%;
}

.menu-container {
  position: absolute;
  top: 0;
  left: -15em;
  background-color: #f2f9ff;
  margin: 0;
  transition: left 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  z-index: 2;
  box-shadow: 2px 0px 13px #909090;
  height: 100%;
}

.show {
  left: 0em;
}

.menu-button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  color: #8e8e8e;
  cursor: pointer;
  transition: ease-out 0.6s;
}

.menu-button:hover {
  box-shadow: inset 14.75rem 0 0 0.09px #f9ebf9;
  color: #ef8cef;
}

.active {
  background-color: #c9e7ff;
  color: #3ea9ff;
}

.menu-burger {
  cursor: pointer;
}

.menu-icon,
.close-icon {
  height: 2.5rem;
  opacity: 0.5;
}

.menu-icon:hover {
  opacity: 1;
}

.close-icon {
  transition: transform 0.7s ease-in-out;
}
.close-icon:hover {
  transform: rotate(360deg);
}

.button-blue {
  display: flex;
  align-self: center;
  padding: 0.5rem 3.25rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #67bcff;
  color: white;
  box-shadow: 1px 2px 10px #a4a4a4;
  border: none;
  border-radius: 1.4rem;
  font-family: "POPPINS";
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  margin-top: 1.875rem;
}

.button-blue:hover {
  background-color: rgb(82 178 251);
}

.statistics-container {
  width: 100%;
}

.rotate-image {
  width: 1.875rem !important;
  height: 1.875rem !important;
  opacity: 0.5;
}

.row {
  display: flex;
  font-family: "Bitter";
  font-weight: 500;
  padding: 1rem;
  background-color: #ffe3fa;
  box-shadow: 1px 1px 9px #cecece;
  margin: 0.7rem 0;
  border-radius: 1.875rem;
  font-weight: 600;
  color: #e577d1;
}

.title-row {
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(214, 237, 255, 1) 0%,
    rgba(187, 225, 255, 1) 36%,
    rgba(214, 237, 255, 1) 100%
  );
  color: #67bcff;
  font-size: 1.1rem;
  box-shadow: 1px 1px 9px #cecece;
}

.cell {
  flex: 1;
}

.star {
  height: 2.8rem;
}

.total-errors {
  background-color: #ecdfe5;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.375rem;
  color: #f39fc3;
  font-weight: bold;
  text-transform: uppercase;
}

.total-errors img {
  height: 5rem;
}

.hidden {
  display: none !important;
}

.stars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  min-height: 60px;
}
